cabeçalho {
    background-color:#FF204E
    color: #A4CE95;
    display:flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#0feb3f;
    }
    
    .cabeçalho-lista{
        color: #000000;
       }
    
    .cabeçalho-imagem{
        width: 20%;
    }
    